.dashboard{
    display: flex;
    flex-direction: column;
    width: 95vw;
}
.TitleContainer{
    font-size: 24;
    font-weight: bold;
    padding: 30px 0 0 80px;
}
.inputSearchAndButton{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 70px;
}
.inputSearch{
    background-color: #FAFAFB;
    color: #000000;
    width: 800px;
}