.TitleContainer{
    font-size: 24;
    font-weight: bold;
}
.inputSearchAndButton{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.inputSearch{
    background-color: #FAFAFB;
    color: #000000;
    width: 65%;
}
.table-container{
    padding: 30px 35px;
}