.container{
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.signupImage{
width: 50vw;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 120px;
    gap: 20px;
}
.welomeParagraph{
    color: #7E7E7E;
    font-size: 31px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputField{
    background-color: #FAFAFB;
    color: #000000;
    height: 63px;
    width: 400px;
}
  /* 
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.image{
    width: 100%;
}
.signup image{
    height: 100vh;
        width: 100%;
        background-size: cover;
        object-fit: cover;
}
.input-conatiner{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2%;
    padding-top: 50px;
    padding: 50px;
    text-align: center;
    align-items: center;
}
.input-field{
    width: 460px;
    height: 63px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #FBFAFA;
    margin-top: 20px;
}
.btn-signup{
    background-color: #3AB77D;
    color: #FFFFFF;
} */
