.categories-section {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories-section .categories-section-title {
  font-size: 25px;
  font-weight: bold;
}
.category-cards-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.category-cards-section .categorey-card {
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: #fff2eb; */
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.category-cards-section .categorey-card .categorey-image {
  height: 90px;
  width: 85px;
}
.category-cards-section .categorey-card .categorey-name {
  font-size: 18px;
  font-weight: bold;
}
