.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-image {
  height: 415px;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
  background-size: contain;
  background-position: bottom;
  margin-top: 35px;
  width: 1267px;
}
.welcome-message {
  position: absolute;
  top: 163px;
  right: 157px;
  font-weight: 500;
  font-size: 43px;
  color: #050505;
  text-align: center;
}
